.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 3.125rem;
  background: #c9d6ff;
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  color: #1e3799;
  font-family: "Bangers";
  text-align: center;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
}
